/* SOURCE */

/* unnecesary shadow on the toolbar and chat */
[class*=form]:before, [class*=children]:after {
  display: none !important;
}

/* toolbar */
[class^="themed_"], .container__11d72 {
    background-color: var(--background-primary) !important;
}

/* Quick Switcher fix */
[class*="quickswitcher_"] .scroller__52ae7 {
    background-color: var(--background-secondary);
}

/* send button */
[class*="activeButtonChild__"] {
    color: var(--tropo) !important;
}

/* rounded search bar */
[class*="searchBar_"] {
    border-radius: 2rem;
}

/* theme name in title bar */
.wordmarkWindows__05c46 svg {
    display: none;
}

.theme-dark .wordmarkWindows__05c46::after {
    content: "Lunar Discord";
    display: block;
    margin-top: -2px;
    line-height: 16px;
    font-family: var(--font-headline);
    font-size: 0.65rem;
    font-weight: 600;
}
.theme-light .wordmarkWindows__05c46::after {
    content: "Solar Discord";
    display: block;
    margin-top: -2px;
    line-height: 16px;
    font-family: var(--font-headline);
    font-size: 0.65rem;
    font-weight: 600;
}

/* home icon (sorry if you have nitro in-app icons) */
.theme-dark [data-list-item-id="guildsnav___home"] {
    content: url("https://ZeyLogger.github.io/lunar.theme/assets/icon-dark.png");
}
.theme-light [data-list-item-id="guildsnav___home"] {
    content: url("https://ZeyLogger.github.io/lunar.theme/assets/icon-light.png");
}

/* Forum / Home */
[class*="list__"] {
    background-color: var(--background-secondary-alt);
}
[class*="homeContainer_"] {
    background-color: var(--background-secondary-alt) !important;
}
[class*="grid__"] {
    background-color: var(--background-secondary-alt);
}

/* explore / add server button */
[class^="circleIconButton_"] {
  color: var(--nebula);
}
[class^="circleIconButton_"].selected__5250e {
  background-color: var(--nebula);
}

/* channel and roles tab / members (still a bit buggy I think) */
[class*="pageBody_"] {
    background-color: var(--background-secondary-alt);
}
[class="scroller__"], .container_df3aa0 {
    background-color: var(--background-secondary-alt) !important;
}
.container__10dc7 {
    background-color: var(--background-secondary-alt) !important;
}
[class^="chat__"], .scrollerContainer_bf5dbd {
    background-color: var(--background-secondary-alt) !important;
}
/* in vc fix */
[class*="listDefault__"] {
    background-color: var(--background-secondary);
}

/* invite people */
[class*="colorBrand__"] {
    color: var(--tropo);
}

/* app directory / explore servers background */
[class*="directoryContainer_"] {
    background-color: var(--background-primary) !important;
}
[class^="pageWrapper_"] {
    background-color: var(--background-primary) !important;
}

/* slash command / emote */
[class*="categoryHeader_"], .list__0870a {
    background-color: var(--background-secondary-alt);
}
[class*="autocompleteRow_"], .scroller_cc9b9a {
    background-color: var(--background-secondary-alt);
}

/* channel roundness / memberlist */
[class*="link__"], [class*="linkButton_"], [class*="interactive__"], [class*="memberInner_"] {
    border-radius: var(--button-roundness) !important;
}

/* group dm / more active threads */
[class*="popout__"] {
    background-color: var(--background-secondary);
}
