/* SOURCE */

/* Forum / Home */
[class*="list__"] {
    background-color: var(--background-secondary-alt);
}
[class*="forumOrHome__"], [class*="homeContainer_"] {
    background-color: var(--background-secondary-alt) !important;
}

/* theme name in title bar */
.wordmarkWindows__05c46 svg {
    display: none;
}

.theme-dark .wordmarkWindows__05c46::after {
    content: "Lunar Discord";
    display: block;
    margin-top: -2px;
    line-height: 16px;
    font-family: var(--font-headline);
    font-size: 0.65rem;
    font-weight: 600;
}
.theme-light .wordmarkWindows__05c46::after {
    content: "Solar Discord";
    display: block;
    margin-top: -2px;
    line-height: 16px;
    font-family: var(--font-headline);
    font-size: 0.65rem;
    font-weight: 600;
}

/* home icon (sorry if you have nitro in-app icons) */
.theme-dark [data-list-item-id="guildsnav___home"] {
    content: url("https://ZeyLogger.github.io/lunar.theme/assets/icon-dark.png");
}
.theme-light [data-list-item-id="guildsnav___home"] {
    content: url("https://ZeyLogger.github.io/lunar.theme/assets/icon-light.png");
}

/* explore / add server button */
[class^="circleIconButton_"] {
  color: var(--nebula);
}
[class^="circleIconButton_"].selected__5250e {
  background-color: var(--nebula);
}
