/* VARIABLES */
:root {
    --tropo: #3281ea;
    --strato: #0284e8;
    --meso: #02a3e8;
    --thermo: #02bbe8;
    --nebula: #05844A;
    --nebula-dark: #006839;
    --magma: #B10C0C;
    --sunset: #bf5039;
    
    --border-radius: 2rem;
    --avatar-radius: 50%;
    --background-mobile-primary: var(--background-primary);
    --background-mobile-secondary: var(--background-tertiary);
    --background-accent: var(--tropo);
    --background-modifier-hover: var(--tropo);
    --background-modifier-active: var(--strato);
    --background-modifier-selected: var(--tropo);
    --brand-experiment: var(--background-accent, #3281ea);
    --brand-experiment-560: var(--strato, #0284e8);
    --brand-experiment-600: var(--meso, #02a3e8);
    --button-danger-background-hover: var(--magma, #B10C0C);
    --button-outline-danger-background-hover: var(--magma, #B10C0C);
    --button-outline-danger-border: var(--sunset, #bf5039);
    --button-outline-danger-border-hover: var(--magma, #B10C0C);
    --button-positive-background: var(--nebula, #05844A);
    --button-positive-background-hover: var(--nebula-dark, #006839);
    --channeltextarea-background: var(--background-secondary);
    --deprecated-quickswitcher-input-background: var(--background-tertiary);
    --modal-background: var(--background-primary);
    --modal-footer-background: var(--background-secondary);
    --scrollbar-auto-thumb: var(--tropo, #3281ea);
    --scrollbar-auto-track: var(--background-tertiary);
    --scrollbar-thin-thumb: var(--tropo, #3281ea);
    --text-link: var(--tropo, #3281ea);
    --text-brand: var(--interactive-normal);
    --toast-background: var(--background-secondary) !important;
    --toast-header: var(--background-tertiary) !important;
    --toast-contents: var(--background-primary) !important;
    --elevation-low: none;
}

/* SOURCE */

/* Forum / Home */
[class*="list__"] {
    background-color: var(--background-secondary-alt);
}
[class*="forumOrHome__"], [class*="homeContainer_"] {
    background-color: var(--background-secondary-alt) !important;
}
