/* home icon */
.homeIcon-r0w4ny {
    background: url('https://github.com/sonno-theme/discord/raw/main/assets/icon-rounded.png') center/cover no-repeat;
    min-width: 60px;
    min-height: 60px;

    path {
        fill: transparent;
    }
}

/* server sidebar */
/* bottom buttons */
.circleIconButton-1VxDrg {
    color: var(--nebula);

    &.selected-2r1Hvo {
        background-color: var(--nebula);
    }
}


/* boosts */
.ctaBar-Nhk8yY {
    border-radius: var(--border-radius, 2rem);
}


.perk-19D_HN {
    border-radius: var(--border-radius, 2rem);
}
